* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  background-color: #2e5ebf;
  width: 100%;
  height: 100px;
}
.modal {
  width: 500px;
  height: 300px;
  margin: 20px auto;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background-color: #2e5ebf;
}

.modal button {
  width: 100px;
  padding: 5px;
}

.register, .login {
  width: 500px;
  height: 350px;
  margin: 20px auto;
  background-color: steelblue;
}

.register form, .login form {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 300px;

}
.register form input, .login form input {
  align-self: center;
  height: 40px;
  width: 250px;
}

.register button, .login button {
  align-self: center;
  height: 40px;
  width: 250px;
}
.dashboard {
  display: flex;
}

aside {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 300px;
  height: calc(100vh - 100px);
  border: 1px solid #ccc;
}

aside li {
  list-style-type: none;
  padding: 15px 0;
}